-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."CatalogMediaType" AS ENUM ('PHOTO', 'VIDEO');

-- CreateEnum
CREATE TYPE "public"."ContactMethod" AS ENUM ('PHONE', 'EMAIL', 'DM');

-- CreateEnum
CREATE TYPE "public"."EmailAuthType" AS ENUM ('OAUTH', 'IMAP');

-- CreateEnum
CREATE TYPE "public"."EmailProvider" AS ENUM ('GMAIL', 'OUTLOOK', 'IMAP');

-- CreateEnum
CREATE TYPE "public"."ImageType" AS ENUM ('BUSINESS_LOGO', 'BUSINESS_ICON', 'PRODUCT', 'PROFILE', 'GENERAL', 'BANNER', 'PHOTO', 'VIDEO');

-- CreateEnum
CREATE TYPE "public"."LeadSource" AS ENUM ('WEB', 'WALK_IN', 'PHONE', 'EMAIL', 'SOCIAL');

-- CreateEnum
CREATE TYPE "public"."LeadStage" AS ENUM ('NEW', 'CONTACT_ATTEMPTED', 'CONTACTED', 'FOLLOW_UP_ATTEMPTED', 'FOLLOWED_UP', 'COMMITTED', 'SCHEDULED', 'ASSESSED', 'ACTIVE', 'COLD');

-- CreateEnum
CREATE TYPE "public"."LeadTemperature" AS ENUM ('HOT', 'WARM', 'COLD');

-- CreateEnum
CREATE TYPE "public"."ProductType" AS ENUM ('CLASS', 'WORKSHOP', 'CAMP');

-- CreateEnum
CREATE TYPE "public"."RecurrenceType" AS ENUM ('AD_HOC', 'WEEKLY', 'DAILY');

-- CreateEnum
CREATE TYPE "public"."UserRoleType" AS ENUM ('OWNER', 'ADMIN', 'TUTOR');

-- DropForeignKey
ALTER TABLE "shadow_migrate"."CatalogMedia" DROP CONSTRAINT "CatalogMedia_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."CatalogMedia" DROP CONSTRAINT "CatalogMedia_product_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."CatalogMedia" DROP CONSTRAINT "CatalogMedia_subject_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."CatalogMedia" DROP CONSTRAINT "CatalogMedia_topic_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."EmailInbox" DROP CONSTRAINT "EmailInbox_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."EmailInbox" DROP CONSTRAINT "EmailInbox_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."EmailInbox" DROP CONSTRAINT "EmailInbox_updated_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Image" DROP CONSTRAINT "Image_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_converted_parent_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_lead_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_owner_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_subject_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_topic_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Lead" DROP CONSTRAINT "Lead_updated_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Location" DROP CONSTRAINT "Location_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."LocationHours" DROP CONSTRAINT "LocationHours_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Organization" DROP CONSTRAINT "Organization_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Organization" DROP CONSTRAINT "Organization_owner_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Organization" DROP CONSTRAINT "Organization_updated_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Parent" DROP CONSTRAINT "Parent_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Parent" DROP CONSTRAINT "Parent_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Parent" DROP CONSTRAINT "Parent_updated_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Product" DROP CONSTRAINT "Product_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Product" DROP CONSTRAINT "Product_subject_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Product" DROP CONSTRAINT "Product_topic_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Room" DROP CONSTRAINT "Room_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleConflict" DROP CONSTRAINT "ScheduleConflict_conflicting_schedule_entry_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleConflict" DROP CONSTRAINT "ScheduleConflict_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleConflict" DROP CONSTRAINT "ScheduleConflict_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleConflict" DROP CONSTRAINT "ScheduleConflict_resolved_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleConflict" DROP CONSTRAINT "ScheduleConflict_schedule_entry_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_product_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_service_offered_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_subject_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_topic_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_tutor_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntry" DROP CONSTRAINT "ScheduleEntry_updated_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntryAttendee" DROP CONSTRAINT "ScheduleEntryAttendee_schedule_entry_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntryAttendee" DROP CONSTRAINT "ScheduleEntryAttendee_student_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntryRoom" DROP CONSTRAINT "ScheduleEntryRoom_room_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ScheduleEntryRoom" DROP CONSTRAINT "ScheduleEntryRoom_schedule_entry_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."ServiceOffered" DROP CONSTRAINT "ServiceOffered_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Student" DROP CONSTRAINT "Student_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Student" DROP CONSTRAINT "Student_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Student" DROP CONSTRAINT "Student_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Student" DROP CONSTRAINT "Student_parent_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Student" DROP CONSTRAINT "Student_updated_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."StudentRecord" DROP CONSTRAINT "StudentRecord_created_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."StudentRecord" DROP CONSTRAINT "StudentRecord_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."StudentRecord" DROP CONSTRAINT "StudentRecord_student_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."StudentRecord" DROP CONSTRAINT "StudentRecord_updated_by_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."StudentSubject" DROP CONSTRAINT "StudentSubject_student_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."StudentSubject" DROP CONSTRAINT "StudentSubject_subject_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."StudentSubject" DROP CONSTRAINT "StudentSubject_topic_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Topic" DROP CONSTRAINT "Topic_subject_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Tutor" DROP CONSTRAINT "Tutor_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."Tutor" DROP CONSTRAINT "Tutor_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."TutorLocation" DROP CONSTRAINT "TutorLocation_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."TutorLocation" DROP CONSTRAINT "TutorLocation_tutor_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."User" DROP CONSTRAINT "User_organization_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."UserLocation" DROP CONSTRAINT "UserLocation_location_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."UserLocation" DROP CONSTRAINT "UserLocation_user_id_fkey";

-- DropForeignKey
ALTER TABLE "shadow_migrate"."UserRole" DROP CONSTRAINT "UserRole_user_id_fkey";

-- DropTable
DROP TABLE "shadow_migrate"."CatalogMedia";

-- DropTable
DROP TABLE "shadow_migrate"."EmailInbox";

-- DropTable
DROP TABLE "shadow_migrate"."Image";

-- DropTable
DROP TABLE "shadow_migrate"."Lead";

-- DropTable
DROP TABLE "shadow_migrate"."Location";

-- DropTable
DROP TABLE "shadow_migrate"."LocationHours";

-- DropTable
DROP TABLE "shadow_migrate"."Organization";

-- DropTable
DROP TABLE "shadow_migrate"."Parent";

-- DropTable
DROP TABLE "shadow_migrate"."Product";

-- DropTable
DROP TABLE "shadow_migrate"."Room";

-- DropTable
DROP TABLE "shadow_migrate"."ScheduleConflict";

-- DropTable
DROP TABLE "shadow_migrate"."ScheduleEntry";

-- DropTable
DROP TABLE "shadow_migrate"."ScheduleEntryAttendee";

-- DropTable
DROP TABLE "shadow_migrate"."ScheduleEntryRoom";

-- DropTable
DROP TABLE "shadow_migrate"."ServiceOffered";

-- DropTable
DROP TABLE "shadow_migrate"."Student";

-- DropTable
DROP TABLE "shadow_migrate"."StudentRecord";

-- DropTable
DROP TABLE "shadow_migrate"."StudentSubject";

-- DropTable
DROP TABLE "shadow_migrate"."Subject";

-- DropTable
DROP TABLE "shadow_migrate"."Topic";

-- DropTable
DROP TABLE "shadow_migrate"."Tutor";

-- DropTable
DROP TABLE "shadow_migrate"."TutorLocation";

-- DropTable
DROP TABLE "shadow_migrate"."User";

-- DropTable
DROP TABLE "shadow_migrate"."UserLocation";

-- DropTable
DROP TABLE "shadow_migrate"."UserRole";

-- DropEnum
DROP TYPE "shadow_migrate"."CatalogMediaType";

-- DropEnum
DROP TYPE "shadow_migrate"."ContactMethod";

-- DropEnum
DROP TYPE "shadow_migrate"."EmailAuthType";

-- DropEnum
DROP TYPE "shadow_migrate"."EmailProvider";

-- DropEnum
DROP TYPE "shadow_migrate"."ImageType";

-- DropEnum
DROP TYPE "shadow_migrate"."LeadSource";

-- DropEnum
DROP TYPE "shadow_migrate"."LeadStage";

-- DropEnum
DROP TYPE "shadow_migrate"."LeadTemperature";

-- DropEnum
DROP TYPE "shadow_migrate"."ProductType";

-- DropEnum
DROP TYPE "shadow_migrate"."RecurrenceType";

-- DropEnum
DROP TYPE "shadow_migrate"."UserRoleType";

-- CreateTable
CREATE TABLE "public"."CatalogMedia" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "product_id" UUID,
    "subject_id" UUID,
    "topic_id" UUID,
    "service_code" TEXT,
    "media_type" "public"."CatalogMediaType" NOT NULL,
    "media_url" TEXT NOT NULL,
    "caption_text" TEXT,
    "sort_order" INTEGER,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "archived_at" TIMESTAMP(3),

    CONSTRAINT "CatalogMedia_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."EmailInbox" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "provider" "public"."EmailProvider" NOT NULL,
    "auth_type" "public"."EmailAuthType" NOT NULL,
    "address" TEXT NOT NULL,
    "label" TEXT,
    "enabled" BOOLEAN NOT NULL DEFAULT true,
    "daily_scan_enabled" BOOLEAN NOT NULL DEFAULT false,
    "daily_scan_time" TEXT,
    "last_scan_at" TIMESTAMP(3),
    "credentials_encrypted" TEXT,
    "imap_host" TEXT,
    "imap_port" INTEGER,
    "imap_secure" BOOLEAN,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "archived_at" TIMESTAMP(3),
    "created_by_user_id" UUID,
    "updated_by_user_id" UUID,

    CONSTRAINT "EmailInbox_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Image" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "image_url" TEXT NOT NULL,
    "image_description" TEXT,
    "image_type" "public"."ImageType" NOT NULL,
    "image_alt_text" TEXT,
    "image_caption" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),

    CONSTRAINT "Image_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Lead" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "stage" "public"."LeadStage" NOT NULL DEFAULT 'NEW',
    "lead_location_id" UUID,
    "source" "public"."LeadSource",
    "owner_user_id" UUID,
    "temperature" "public"."LeadTemperature",
    "last_contact_method" "public"."ContactMethod",
    "last_contact_at" TIMESTAMP(3),
    "reason_lost" TEXT,
    "parent_first_name" TEXT,
    "parent_last_name" TEXT,
    "parent_address_1" TEXT,
    "parent_address_2" TEXT,
    "parent_city" TEXT,
    "parent_state" TEXT,
    "parent_zip" TEXT,
    "parent_email" TEXT,
    "parent_phone" TEXT,
    "notes" TEXT,
    "subject_id" UUID,
    "topic_id" UUID,
    "converted_parent_id" UUID,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),
    "created_by_user_id" UUID,
    "updated_by_user_id" UUID,
    "source_detail" TEXT,
    "lead_students" JSONB,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Location" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "location_name" TEXT NOT NULL,
    "is_virtual" BOOLEAN NOT NULL DEFAULT false,
    "location_address_1" TEXT,
    "location_address_2" TEXT,
    "location_city" TEXT,
    "location_state" TEXT,
    "location_zip" TEXT,
    "location_phone" TEXT,
    "location_email" TEXT,
    "location_manager_first_name" TEXT,
    "location_manager_last_name" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),
    "is_system" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "Location_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."LocationHours" (
    "id" UUID NOT NULL,
    "location_id" UUID NOT NULL,
    "day_of_week" INTEGER NOT NULL,
    "is_closed" BOOLEAN NOT NULL DEFAULT false,
    "open_time" TEXT,
    "close_time" TEXT,

    CONSTRAINT "LocationHours_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Organization" (
    "id" UUID NOT NULL,
    "business_name" TEXT NOT NULL,
    "business_phone" TEXT,
    "business_email" TEXT,
    "timezone" TEXT NOT NULL,
    "default_buffer_minutes" INTEGER NOT NULL,
    "owner_user_id" UUID,
    "business_address_1" TEXT,
    "business_address_2" TEXT,
    "business_city" TEXT,
    "business_state" TEXT,
    "business_zip" TEXT,
    "palette_color_1" TEXT,
    "palette_color_2" TEXT,
    "palette_color_3" TEXT,
    "palette_color_4" TEXT,
    "palette_color_5" TEXT,
    "layout_key" TEXT,
    "website_slug" TEXT,
    "headline_text" TEXT,
    "about_text" TEXT,
    "mission_text" TEXT,
    "tutoring_style_text" TEXT,
    "testimonials_text" TEXT,
    "privacy_policy_text" TEXT,
    "cta_text" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),
    "created_by_user_id" UUID,
    "updated_by_user_id" UUID,
    "subscription_plan" TEXT NOT NULL DEFAULT 'basic',
    "date_format" TEXT NOT NULL DEFAULT 'mm/dd/yyyy',

    CONSTRAINT "Organization_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Parent" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "parent1_first_name" TEXT,
    "parent1_last_name" TEXT,
    "parent1_address_1" TEXT,
    "parent1_address_2" TEXT,
    "parent1_city" TEXT,
    "parent1_state" TEXT,
    "parent1_zip" TEXT,
    "parent1_email" TEXT,
    "parent1_phone" TEXT,
    "parent2_first_name" TEXT,
    "parent2_last_name" TEXT,
    "parent2_address_1" TEXT,
    "parent2_address_2" TEXT,
    "parent2_city" TEXT,
    "parent2_state" TEXT,
    "parent2_zip" TEXT,
    "parent2_email" TEXT,
    "parent2_phone" TEXT,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),
    "created_by_user_id" UUID,
    "updated_by_user_id" UUID,

    CONSTRAINT "Parent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Product" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "product_type" "public"."ProductType" NOT NULL,
    "product_name" TEXT NOT NULL,
    "subject_id" UUID,
    "topic_id" UUID,
    "service_code" TEXT,
    "product_description_text" TEXT,
    "product_syllabus_text" TEXT,
    "languages_offered" TEXT,
    "product_slogan_text" TEXT,
    "product_logo_url" TEXT,

    CONSTRAINT "Product_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Room" (
    "id" UUID NOT NULL,
    "location_id" UUID NOT NULL,
    "room_name" TEXT NOT NULL,
    "room_number" TEXT,
    "floor_number" TEXT,
    "archived_at" TIMESTAMPTZ(6),

    CONSTRAINT "Room_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ScheduleConflict" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "schedule_entry_id" UUID NOT NULL,
    "conflicting_schedule_entry_id" UUID NOT NULL,
    "conflict_tags" JSONB NOT NULL,
    "message" TEXT NOT NULL,
    "resource" JSONB,
    "resolved_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by_user_id" UUID,
    "resolved_by_user_id" UUID,

    CONSTRAINT "ScheduleConflict_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ScheduleEntry" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "location_id" UUID NOT NULL,
    "service_offered_id" UUID NOT NULL,
    "tutor_id" UUID NOT NULL,
    "start_at" TIMESTAMP(3) NOT NULL,
    "product_id" UUID,
    "subject_id" UUID,
    "topic_id" UUID,
    "series_id" TEXT,
    "recurrence_interval" INTEGER,
    "recurrence_days_of_week" TEXT,
    "series_end_date" TIMESTAMP(3),
    "occurrence_count" INTEGER,
    "duration_minutes" INTEGER NOT NULL,
    "include_buffer" BOOLEAN NOT NULL DEFAULT false,
    "end_at" TIMESTAMP(3) NOT NULL,
    "blocked_end_at" TIMESTAMP(3) NOT NULL,
    "capacity" INTEGER NOT NULL DEFAULT 1,
    "recurrence_type" "public"."RecurrenceType" NOT NULL DEFAULT 'AD_HOC',
    "hourly_rate_cents_snapshot" INTEGER NOT NULL,
    "resources_text" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),
    "created_by_user_id" UUID,
    "updated_by_user_id" UUID,
    "location_detail" TEXT,

    CONSTRAINT "ScheduleEntry_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."ScheduleEntryAttendee" (
    "schedule_entry_id" UUID NOT NULL,
    "student_id" UUID NOT NULL,

    CONSTRAINT "ScheduleEntryAttendee_pkey" PRIMARY KEY ("schedule_entry_id","student_id")
);

-- CreateTable
CREATE TABLE "public"."ScheduleEntryRoom" (
    "schedule_entry_id" UUID NOT NULL,
    "room_id" UUID NOT NULL,

    CONSTRAINT "ScheduleEntryRoom_pkey" PRIMARY KEY ("schedule_entry_id","room_id")
);

-- CreateTable
CREATE TABLE "public"."ServiceOffered" (
    "id" UUID NOT NULL,
    "location_id" UUID NOT NULL,
    "service_code" TEXT NOT NULL,
    "hourly_rate_cents" INTEGER NOT NULL,
    "display_name" TEXT,
    "description_text" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "unit_length_minutes" INTEGER NOT NULL DEFAULT 60,
    "capacity" INTEGER NOT NULL DEFAULT 1,

    CONSTRAINT "ServiceOffered_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Student" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "parent_id" UUID NOT NULL,
    "location_id" UUID NOT NULL,
    "first_name" TEXT NOT NULL,
    "last_name" TEXT NOT NULL,
    "phone" TEXT,
    "email" TEXT,
    "dob" TIMESTAMP(3),
    "school" TEXT,
    "iep" BOOLEAN DEFAULT false,
    "allergies" BOOLEAN DEFAULT false,
    "medical_condition" BOOLEAN DEFAULT false,
    "behaviorial_issue" BOOLEAN DEFAULT false,
    "in_person" BOOLEAN DEFAULT true,
    "notes" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),
    "created_by_user_id" UUID,
    "updated_by_user_id" UUID,
    "vision_issue" BOOLEAN DEFAULT false,
    "hearing_issue" BOOLEAN DEFAULT false,

    CONSTRAINT "Student_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StudentRecord" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "organization_id" UUID NOT NULL,
    "student_id" UUID NOT NULL,
    "note_text" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by_user_id" UUID,
    "updated_by_user_id" UUID,

    CONSTRAINT "StudentRecord_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."StudentSubject" (
    "student_id" UUID NOT NULL,
    "rank" INTEGER NOT NULL,
    "subject_id" UUID NOT NULL,
    "topic_id" UUID,

    CONSTRAINT "StudentSubject_pkey" PRIMARY KEY ("student_id","rank")
);

-- CreateTable
CREATE TABLE "public"."Subject" (
    "id" UUID NOT NULL,
    "subject_name" TEXT NOT NULL,
    "sort_order" INTEGER,
    "organization_id" UUID,
    "archived_at" TIMESTAMPTZ(6),
    "description_text" TEXT,

    CONSTRAINT "Subject_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Topic" (
    "id" UUID NOT NULL,
    "subject_id" UUID NOT NULL,
    "topic_name" TEXT NOT NULL,
    "sort_order" INTEGER,
    "organization_id" UUID,
    "archived_at" TIMESTAMPTZ(6),
    "description_text" TEXT,

    CONSTRAINT "Topic_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Tutor" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "user_id" UUID NOT NULL,
    "bio_text" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "color_hex" TEXT,

    CONSTRAINT "Tutor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."TutorLocation" (
    "tutor_id" UUID NOT NULL,
    "location_id" UUID NOT NULL,

    CONSTRAINT "TutorLocation_pkey" PRIMARY KEY ("tutor_id","location_id")
);

-- CreateTable
CREATE TABLE "public"."User" (
    "id" UUID NOT NULL,
    "organization_id" UUID NOT NULL,
    "first_name" TEXT,
    "last_name" TEXT,
    "address_1" TEXT,
    "address_2" TEXT,
    "city" TEXT,
    "state" TEXT,
    "zip" TEXT,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "archived_at" TIMESTAMP(3),

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."UserLocation" (
    "user_id" UUID NOT NULL,
    "location_id" UUID NOT NULL,

    CONSTRAINT "UserLocation_pkey" PRIMARY KEY ("user_id","location_id")
);

-- CreateTable
CREATE TABLE "public"."UserRole" (
    "user_id" UUID NOT NULL,
    "role" "public"."UserRoleType" NOT NULL,

    CONSTRAINT "UserRole_pkey" PRIMARY KEY ("user_id","role")
);

-- CreateIndex
CREATE INDEX "CatalogMedia_archived_at_idx" ON "public"."CatalogMedia"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "CatalogMedia_organization_id_idx" ON "public"."CatalogMedia"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "CatalogMedia_product_id_idx" ON "public"."CatalogMedia"("product_id" ASC);

-- CreateIndex
CREATE INDEX "CatalogMedia_service_code_idx" ON "public"."CatalogMedia"("service_code" ASC);

-- CreateIndex
CREATE INDEX "CatalogMedia_subject_id_idx" ON "public"."CatalogMedia"("subject_id" ASC);

-- CreateIndex
CREATE INDEX "CatalogMedia_topic_id_idx" ON "public"."CatalogMedia"("topic_id" ASC);

-- CreateIndex
CREATE INDEX "EmailInbox_archived_at_idx" ON "public"."EmailInbox"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "EmailInbox_organization_id_idx" ON "public"."EmailInbox"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "EmailInbox_provider_idx" ON "public"."EmailInbox"("provider" ASC);

-- CreateIndex
CREATE INDEX "Image_archived_at_idx" ON "public"."Image"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Image_image_type_idx" ON "public"."Image"("image_type" ASC);

-- CreateIndex
CREATE INDEX "Image_organization_id_idx" ON "public"."Image"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "Lead_archived_at_idx" ON "public"."Lead"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Lead_lead_location_id_idx" ON "public"."Lead"("lead_location_id" ASC);

-- CreateIndex
CREATE INDEX "Lead_organization_id_idx" ON "public"."Lead"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "Lead_owner_user_id_idx" ON "public"."Lead"("owner_user_id" ASC);

-- CreateIndex
CREATE INDEX "Lead_stage_idx" ON "public"."Lead"("stage" ASC);

-- CreateIndex
CREATE INDEX "Location_archived_at_idx" ON "public"."Location"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Location_organization_id_idx" ON "public"."Location"("organization_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "LocationHours_location_id_day_of_week_key" ON "public"."LocationHours"("location_id" ASC, "day_of_week" ASC);

-- CreateIndex
CREATE INDEX "LocationHours_location_id_idx" ON "public"."LocationHours"("location_id" ASC);

-- CreateIndex
CREATE INDEX "Organization_archived_at_idx" ON "public"."Organization"("archived_at" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Organization_owner_user_id_key" ON "public"."Organization"("owner_user_id" ASC);

-- CreateIndex
CREATE INDEX "Parent_archived_at_idx" ON "public"."Parent"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Parent_organization_id_idx" ON "public"."Parent"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "Product_organization_id_idx" ON "public"."Product"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "Product_product_name_idx" ON "public"."Product"("product_name" ASC);

-- CreateIndex
CREATE INDEX "Product_product_type_idx" ON "public"."Product"("product_type" ASC);

-- CreateIndex
CREATE INDEX "Room_archived_at_idx" ON "public"."Room"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Room_location_id_idx" ON "public"."Room"("location_id" ASC);

-- CreateIndex
CREATE INDEX "Room_room_name_idx" ON "public"."Room"("room_name" ASC);

-- CreateIndex
CREATE INDEX "ScheduleConflict_conflicting_schedule_entry_id_idx" ON "public"."ScheduleConflict"("conflicting_schedule_entry_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleConflict_organization_id_idx" ON "public"."ScheduleConflict"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleConflict_resolved_at_idx" ON "public"."ScheduleConflict"("resolved_at" ASC);

-- CreateIndex
CREATE INDEX "ScheduleConflict_schedule_entry_id_idx" ON "public"."ScheduleConflict"("schedule_entry_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntry_archived_at_idx" ON "public"."ScheduleEntry"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntry_location_id_idx" ON "public"."ScheduleEntry"("location_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntry_organization_id_idx" ON "public"."ScheduleEntry"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntry_series_id_idx" ON "public"."ScheduleEntry"("series_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntry_service_offered_id_idx" ON "public"."ScheduleEntry"("service_offered_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntry_start_at_idx" ON "public"."ScheduleEntry"("start_at" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntry_tutor_id_idx" ON "public"."ScheduleEntry"("tutor_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntryAttendee_student_id_idx" ON "public"."ScheduleEntryAttendee"("student_id" ASC);

-- CreateIndex
CREATE INDEX "ScheduleEntryRoom_room_id_idx" ON "public"."ScheduleEntryRoom"("room_id" ASC);

-- CreateIndex
CREATE INDEX "ServiceOffered_location_id_idx" ON "public"."ServiceOffered"("location_id" ASC);

-- CreateIndex
CREATE INDEX "ServiceOffered_service_code_idx" ON "public"."ServiceOffered"("service_code" ASC);

-- CreateIndex
CREATE INDEX "Student_archived_at_idx" ON "public"."Student"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Student_location_id_idx" ON "public"."Student"("location_id" ASC);

-- CreateIndex
CREATE INDEX "Student_organization_id_idx" ON "public"."Student"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "Student_parent_id_idx" ON "public"."Student"("parent_id" ASC);

-- CreateIndex
CREATE INDEX "StudentRecord_organization_id_idx" ON "public"."StudentRecord"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "StudentRecord_student_id_idx" ON "public"."StudentRecord"("student_id" ASC);

-- CreateIndex
CREATE INDEX "StudentSubject_subject_id_idx" ON "public"."StudentSubject"("subject_id" ASC);

-- CreateIndex
CREATE INDEX "StudentSubject_topic_id_idx" ON "public"."StudentSubject"("topic_id" ASC);

-- CreateIndex
CREATE INDEX "Subject_archived_at_idx" ON "public"."Subject"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Subject_organization_id_idx" ON "public"."Subject"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "Subject_subject_name_idx" ON "public"."Subject"("subject_name" ASC);

-- CreateIndex
CREATE INDEX "Topic_archived_at_idx" ON "public"."Topic"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Topic_organization_id_idx" ON "public"."Topic"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "Topic_subject_id_idx" ON "public"."Topic"("subject_id" ASC);

-- CreateIndex
CREATE INDEX "Topic_topic_name_idx" ON "public"."Topic"("topic_name" ASC);

-- CreateIndex
CREATE INDEX "Tutor_archived_at_idx" ON "public"."Tutor"("archived_at" ASC);

-- CreateIndex
CREATE INDEX "Tutor_organization_id_idx" ON "public"."Tutor"("organization_id" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Tutor_user_id_key" ON "public"."Tutor"("user_id" ASC);

-- CreateIndex
CREATE INDEX "TutorLocation_location_id_idx" ON "public"."TutorLocation"("location_id" ASC);

-- CreateIndex
CREATE INDEX "User_archived_at_idx" ON "public"."User"("archived_at" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "public"."User"("email" ASC);

-- CreateIndex
CREATE INDEX "User_organization_id_idx" ON "public"."User"("organization_id" ASC);

-- CreateIndex
CREATE INDEX "UserLocation_location_id_idx" ON "public"."UserLocation"("location_id" ASC);

-- AddForeignKey
ALTER TABLE "public"."CatalogMedia" ADD CONSTRAINT "CatalogMedia_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CatalogMedia" ADD CONSTRAINT "CatalogMedia_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."Product"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CatalogMedia" ADD CONSTRAINT "CatalogMedia_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."Subject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."CatalogMedia" ADD CONSTRAINT "CatalogMedia_topic_id_fkey" FOREIGN KEY ("topic_id") REFERENCES "public"."Topic"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EmailInbox" ADD CONSTRAINT "EmailInbox_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EmailInbox" ADD CONSTRAINT "EmailInbox_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."EmailInbox" ADD CONSTRAINT "EmailInbox_updated_by_user_id_fkey" FOREIGN KEY ("updated_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Image" ADD CONSTRAINT "Image_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_converted_parent_id_fkey" FOREIGN KEY ("converted_parent_id") REFERENCES "public"."Parent"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_lead_location_id_fkey" FOREIGN KEY ("lead_location_id") REFERENCES "public"."Location"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_owner_user_id_fkey" FOREIGN KEY ("owner_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."Subject"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_topic_id_fkey" FOREIGN KEY ("topic_id") REFERENCES "public"."Topic"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_updated_by_user_id_fkey" FOREIGN KEY ("updated_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Location" ADD CONSTRAINT "Location_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."LocationHours" ADD CONSTRAINT "LocationHours_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "public"."Location"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Organization" ADD CONSTRAINT "Organization_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Organization" ADD CONSTRAINT "Organization_owner_user_id_fkey" FOREIGN KEY ("owner_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Organization" ADD CONSTRAINT "Organization_updated_by_user_id_fkey" FOREIGN KEY ("updated_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Parent" ADD CONSTRAINT "Parent_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Parent" ADD CONSTRAINT "Parent_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Parent" ADD CONSTRAINT "Parent_updated_by_user_id_fkey" FOREIGN KEY ("updated_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Product" ADD CONSTRAINT "Product_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Product" ADD CONSTRAINT "Product_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."Subject"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Product" ADD CONSTRAINT "Product_topic_id_fkey" FOREIGN KEY ("topic_id") REFERENCES "public"."Topic"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Room" ADD CONSTRAINT "Room_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "public"."Location"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleConflict" ADD CONSTRAINT "ScheduleConflict_conflicting_schedule_entry_id_fkey" FOREIGN KEY ("conflicting_schedule_entry_id") REFERENCES "public"."ScheduleEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleConflict" ADD CONSTRAINT "ScheduleConflict_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleConflict" ADD CONSTRAINT "ScheduleConflict_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleConflict" ADD CONSTRAINT "ScheduleConflict_resolved_by_user_id_fkey" FOREIGN KEY ("resolved_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleConflict" ADD CONSTRAINT "ScheduleConflict_schedule_entry_id_fkey" FOREIGN KEY ("schedule_entry_id") REFERENCES "public"."ScheduleEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "public"."Location"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_product_id_fkey" FOREIGN KEY ("product_id") REFERENCES "public"."Product"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_service_offered_id_fkey" FOREIGN KEY ("service_offered_id") REFERENCES "public"."ServiceOffered"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."Subject"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_topic_id_fkey" FOREIGN KEY ("topic_id") REFERENCES "public"."Topic"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_tutor_id_fkey" FOREIGN KEY ("tutor_id") REFERENCES "public"."Tutor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntry" ADD CONSTRAINT "ScheduleEntry_updated_by_user_id_fkey" FOREIGN KEY ("updated_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntryAttendee" ADD CONSTRAINT "ScheduleEntryAttendee_schedule_entry_id_fkey" FOREIGN KEY ("schedule_entry_id") REFERENCES "public"."ScheduleEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntryAttendee" ADD CONSTRAINT "ScheduleEntryAttendee_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "public"."Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntryRoom" ADD CONSTRAINT "ScheduleEntryRoom_room_id_fkey" FOREIGN KEY ("room_id") REFERENCES "public"."Room"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ScheduleEntryRoom" ADD CONSTRAINT "ScheduleEntryRoom_schedule_entry_id_fkey" FOREIGN KEY ("schedule_entry_id") REFERENCES "public"."ScheduleEntry"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."ServiceOffered" ADD CONSTRAINT "ServiceOffered_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "public"."Location"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Student" ADD CONSTRAINT "Student_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Student" ADD CONSTRAINT "Student_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "public"."Location"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Student" ADD CONSTRAINT "Student_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Student" ADD CONSTRAINT "Student_parent_id_fkey" FOREIGN KEY ("parent_id") REFERENCES "public"."Parent"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Student" ADD CONSTRAINT "Student_updated_by_user_id_fkey" FOREIGN KEY ("updated_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StudentRecord" ADD CONSTRAINT "StudentRecord_created_by_user_id_fkey" FOREIGN KEY ("created_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StudentRecord" ADD CONSTRAINT "StudentRecord_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StudentRecord" ADD CONSTRAINT "StudentRecord_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "public"."Student"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StudentRecord" ADD CONSTRAINT "StudentRecord_updated_by_user_id_fkey" FOREIGN KEY ("updated_by_user_id") REFERENCES "public"."User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StudentSubject" ADD CONSTRAINT "StudentSubject_student_id_fkey" FOREIGN KEY ("student_id") REFERENCES "public"."Student"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StudentSubject" ADD CONSTRAINT "StudentSubject_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."Subject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."StudentSubject" ADD CONSTRAINT "StudentSubject_topic_id_fkey" FOREIGN KEY ("topic_id") REFERENCES "public"."Topic"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Topic" ADD CONSTRAINT "Topic_subject_id_fkey" FOREIGN KEY ("subject_id") REFERENCES "public"."Subject"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Tutor" ADD CONSTRAINT "Tutor_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Tutor" ADD CONSTRAINT "Tutor_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TutorLocation" ADD CONSTRAINT "TutorLocation_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "public"."Location"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."TutorLocation" ADD CONSTRAINT "TutorLocation_tutor_id_fkey" FOREIGN KEY ("tutor_id") REFERENCES "public"."Tutor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."User" ADD CONSTRAINT "User_organization_id_fkey" FOREIGN KEY ("organization_id") REFERENCES "public"."Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserLocation" ADD CONSTRAINT "UserLocation_location_id_fkey" FOREIGN KEY ("location_id") REFERENCES "public"."Location"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserLocation" ADD CONSTRAINT "UserLocation_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."UserRole" ADD CONSTRAINT "UserRole_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

